.carousel-custom-arrow {
    background-color: black; /* Change the background color */
    color: transparent; /* Change the text color */
    border-radius: 50%; /* Make it round */
    padding: 10px; /* Adjust padding for size */
    cursor: pointer;
  }
  
  .custom-next-arrow {

    
    
  }
  
  .custom-prev-arrow {
    
  }
  